<div class="menu">
    <li><a href="/">Heim</a></li>
    <li><a href="/um-okkur">Um okkur</a></li>
    <li><a href="/timalina">Tímalína</a></li>
    <li><a href="/3D">3D</a></li>
    <li><a href="/hafa-samband">Hafa samband</a></li>
</div>