<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body>
    <div id="navbar" class="navbar" style="background: #26c9f2">
      <div class="logo">Halló Krakkar</div>
      <ul class="nav-links">
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>

        <%- include('partials/navbar') %>
      </ul>
    </div>

    <div id="panoramaImageContainer" class="panoramaImageContainer">

    </div>

    
    <%- include('partials/footer') %>
    <script src="/javascripts/three.min.js"></script>
    <script src="/javascripts/panolens.min.js"></script>
    <script src="/javascripts/panorama.js"></script>
  </body>
</html>
