<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
  <div id="hafaSambandPage" class="hafaSambandPage">
    <div id="navbar" class="navbar">
      <div class="logo">Halló Krakkar</div>
      <ul class="nav-links">
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>

        <div class="menu">
          <li><a href="/">Heim</a></li>
          <li><a href="/um-okkur">Um okkur</a></li>
          <li><a href="/Timalina">Tímalína</a></li>
          <li><a href="/3D">3D</a></li>
          <li><a href="/hafa-samband">Hafa samband</a></li>
        </div>
      </ul>
    </div>

    <p class="hafaSambandHeading">Hafa samband</p>
    <div id="hsdiv">
      <div class="hafaSambandForm">
        <div id="sendMail">

          <form action="/sendMail" method="post" id="mail">
            <label for="from"><span style="color: red; font-weight: bold">*</span>Þitt netfang:</label><br>
            <input type="email" id="from" name="from" placeholder="þittnetfang@gmail.com" required><br>
            <label for="subject"><span style="color: red; font-weight: bold">*</span>Titill:</label><br>
            <input type="text" id="subject" name="subject" placeholder="Titill" required><br>
            <label for="message"><span style="color: red; font-weight: bold">*</span>Skilaboð:</label><br>
            <textarea id="message" name="message" rows="6" cols="100" placeholder="Byrjaðu að skrifa..." required></textarea><br>

            <input type="submit" value="Senda" name="submitMail" id="sendMailSubmit">
          </form>

        </div>
      </div>
    </div>
  </div>
    <footer class="footer-distributed">

      <div class="footer-left">

        <img class="taeknilogo" src="/images/taeknisjodur.jpg" alt="Tækniþróunarsjóður logo" width="200" height="100" />

        <p class="footer-links">
          <a href="/" class="link-1">Heim</a>

          <a href="#Um">Um</a>

          <a href="#Nanar">Nánar</a>

          <a href="#Varan">Varan</a>

          <a href="#Teymid">Teymið</a>

        </p>

        <p class="footer-company-name">Hallo krakkar © 2022</p>
      </div>

      <div class="footer-center">

        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>Tæknigarðar,</span> Árleyni 8</p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+354 696-1703</p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:info@hallokrakkar.com">info@hallokrakkar.com</a></p>
        </div>

      </div>

      <div class="footer-right">

        <p class="footer-company-about">
          <span>Um Hallo krakkar ehf</span>
          Hallo krakkar ehf. gerir tölvuleiki sem eru ætlaðir yngstu kynslóðinni. Leikirnir reyna á skilning, athygli, frumkvæði og ímyndunarafl krakkana.
        </p>

        <div class="footer-icons">

          <a href="https://www.facebook.com/Hall%C3%B3-krakkar-ehf-100695509367590" target="_blank" rel="noreferrer noopener"><i class="fa fa-facebook"></i></a>
        </div>

      </div>

    </footer>
  <script src="/javascripts/slideshow.js"></script>
  </body>
</html>
