<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
  <div id="hafaSambandPage" class="hafaSambandPage">
    <div id="navbar" class="navbar">
      <div class="logo">Halló Krakkar</div>
      <ul class="nav-links">
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>

        <%- include('partials/navbar') %>
      </ul>
    </div>

    <p class="hafaSambandHeading">Hafa samband</p>
    <div id="hsdiv">
      <div class="hafaSambandForm">
        <div id="sendMail">

          <form action="/sendMail" method="post" id="mail">
            <label for="from"><span style="color: red; font-weight: bold">*</span>Þitt netfang:</label><br>
            <input type="email" id="from" name="from" placeholder="þittnetfang@gmail.com" required><br>
            <label for="subject"><span style="color: red; font-weight: bold">*</span>Titill:</label><br>
            <input type="text" id="subject" name="subject" placeholder="Titill" required><br>
            <label for="message"><span style="color: red; font-weight: bold">*</span>Skilaboð:</label><br>
            <textarea id="message" name="message" rows="6" cols="100" placeholder="Byrjaðu að skrifa..." required></textarea><br>

            <input type="submit" value="Senda" name="submitMail" id="sendMailSubmit">
          </form>

        </div>
      </div>
    </div>
  </div>
  <%- include('partials/footer') %>
  <script src="/javascripts/slideshow.js"></script>
  </body>
</html>
