<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div id="navbar" class="navbar">
      <div class="logo">Halló Krakkar</div>
      <ul class="nav-links">
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>

        <%- include('partials/navbar') %>
      </ul>
    </div>
    <div id="sectionTopContainer" class="sectionTopContainer">
    <div id="sectionTopBg" class="sectionTopBg"></div>
    <div id="sectionTop" class="sectionTop">
      <div id="sectionTopLeft" class="sectionTopLeft">
        <img class="logoImage" src="/images/LAND_LOGO.png" alt="Ævintýraland logo" />
        <p class="sectionTopHeading">Alvöru<br>þykjustuleikur</p>
        <a href="/3D"><button class="sectionTopButton">Skoðaðu leikinn í 3D</button></a>
      </div>
      <div id="sectionTopRight" class="sectionTopRight">
        <img class="phoneImage" src="/images/tabletmynd.png" alt="Phone Image" />
      </div>
    </div>

    </div>

    <p class="aboutHeading">Ævintýralandið</p>
    <div id="sectionAbout" class="sectionAbout">
      <div id="containerAbout" class="containerAbout">
        <div id="aboutImageContainer" class="aboutImageContainer">
          <img class="aboutContainerImage" src="/images/Nidurnettanveg.png" alt="Container Image" />
        </div>
        <div id="aboutTextContainer" class="aboutTextContainer">
          <p class="aboutContainerText">
            Ævintýralandið er fyrir börn frá þriggja ára aldri,
            örvar málþroska og orðaforða og gefur foreldrum kost
            á vandaðri afþreyingu fyrir börn sín.
            Ævintýrin eru sérsniðin að yngstu kynslóðinni og
            bæði sögumaður og persónur tala það tungumál
            sem foreldrarnir velja.
          </p>
        </div>
      </div>

      <div id="containerAbout" class="containerAbout">
        <div id="aboutImageContainer" class="aboutImageContainer">
          <img class="aboutContainerImage" src="/images/cover-final.png" alt="Container Image" />
        </div>
        <p class="aboutContainerText">
          Í Ævintýralandinu er barnið sjálft söguhetjan og býr
          í þorpinu Heimabæ. Söguhetjan ferðast svo um landið,
          uppgötvar nýja staði og hjálpar fólki og dýrum úr kröggum.
          Mörg smá verkefni geta orðið að einu stóru og eru
          börnin verðlaunuð fyrir hvert leyst verkefni.
        </p>
      </div>

      <div id="containerAbout" class="containerAbout">
        <div id="aboutImageContainer" class="aboutImageContainer">
          <img class="aboutContainerImage" src="/images/Mommufugl.png" alt="Container Image" />
        </div>
        <p class="aboutContainerText">
          Söguhetjan ferðast um heiminn með fuglinum Vísi sem er í
          senn leiðbeinandi og tryggur félagi. Í Heimabænum miðjum er
          hús sem söguhetjan á og getur skreytt, safnað og notað
          föt, glingur og verkfæri, rækta garðinn sinn og safna
          vinum og gæludýrum og fleira.
        </p>
      </div>
    </div>

    <div id="frontpageWrapper" class="frontpageWrapper">
      <div id="comingSoon" class="comingSoon">
        <p class="comingSoonText">Kemur 2024/2025</p>
        <div id="downloadSection" class="downloadSection">
          <a href="javascript:void(0)" style="cursor: default"><img class="appleDownload" src="/images/appstore.png" alt="Apple download link"></a>
          <a href="javascript:void(0)" style="cursor: default"><img class="androidDownload" src="/images/gplay.png" alt="Android download link"></a>
        </div>
      </div>

    <div id="sectionTrailer" class="sectionTrailer">
      <iframe class="sectionTrailer" src="https://player.vimeo.com/video/807309215?h=b6cc44d736" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    </div>
    </div>

    
    <%- include('partials/footer') %>
  </body>
</html>
