<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/timalina.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <div id="navbar" class="navbar">
      <div class="logo">Halló Krakkar</div>
      <ul class="nav-links">
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>

        <%- include('partials/navbar') %>
      </ul>
    </div>

    <div class="ag-timeline-block">
      <div class="ag-timeline_title-box">
        <div class="ag-timeline_tagline">Ævintýralandið</div>
        <div class="ag-timeline_title">Tímalína</div>
      </div>
      <section class="ag-section">
        <div class="ag-format-container">
          <div class="js-timeline ag-timeline">
            <div class="js-timeline_line ag-timeline_line">
              <div class="js-timeline_line-progress ag-timeline_line-progress"></div>
            </div>
            <div class="ag-timeline_list">
              <div class="js-timeline_item ag-timeline_item">
                <div class="ag-timeline-card_box">
                  <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                    <div class="ag-timeline-card_point">2021</div>
                  </div>
                  <div class="ag-timeline-card_meta-box">
                    <div class="ag-timeline-card_meta">Forvinna</div>
                  </div>
                </div>
                <div class="ag-timeline-card_item">
                  <div class="ag-timeline-card_inner">
                    <div class="ag-timeline-card_img-box">
                      <img src="/images/hus.png" class="ag-timeline-card_img" width="640" height="360" />
                    </div>
                    <div class="ag-timeline-card_info">
                      <div class="ag-timeline-card_title">Forvinna</div>
                      <div class="ag-timeline-card_desc">
                        Forvinnufasi verkefnisins átti sér stað árið 2021.
                        Í honum faldist hönnun leiksins og þar að auki var gerður
                        hugmyndabanki fyrir ævintýralönd og sögur. Borðspilið
                        undir sama nafni var notað sem grunnur að leiknum og aðlagað
                        að tölvumiðlinum. Engin forritun sér stað í þessum fasa verkefnisins.
                      </div>
                    </div>
                  </div>
                  <div class="ag-timeline-card_arrow"></div>
                </div>
              </div>

              <div class="js-timeline_item ag-timeline_item">
                <div class="ag-timeline-card_box">
                  <div class="ag-timeline-card_meta-box">
                    <div class="ag-timeline-card_meta">Spilanlegt þversnið</div>
                  </div>
                  <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                    <div class="ag-timeline-card_point">2022</div>
                  </div>
                </div>
                <div class="ag-timeline-card_item">
                  <div class="ag-timeline-card_inner">
                    <div class="ag-timeline-card_img-box">
                      <img src="/images/kastali.png" class="ag-timeline-card_img" width="640" height="360" alt="" />
                    </div>
                    <div class="ag-timeline-card_info">
                      <div class="ag-timeline-card_title">Spilanlegt þversnið</div>
                      <div class="ag-timeline-card_desc">
                        Árið 2022 voru ráðnir inn forritarar til þess að vinna að því að
                        gera spilanlegt þversnið. Í því felst að forrita að minnsta kosti
                        eitt af hverju atriði sem verður í leiknum m.a. einn sölumaður
                        á markaðinum í Heimabænum, eitt leiktæki á leikvellinum í
                        Heimabænum, eitt land sem hægt er að ferðast til, ein sena sem verður
                        hægt að spila til enda ofl.
                      </div>
                    </div>
                  </div>
                  <div class="ag-timeline-card_arrow"></div>
                </div>
              </div>

              <div class="js-timeline_item ag-timeline_item">
                <div class="ag-timeline-card_box">
                  <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                    <div class="ag-timeline-card_point">2023</div>
                  </div>
                  <div class="ag-timeline-card_meta-box">
                    <div class="ag-timeline-card_meta">Prótótýpa</div>
                  </div>
                </div>
                <div class="ag-timeline-card_item">
                  <div class="ag-timeline-card_inner">
                    <div class="ag-timeline-card_img-box">
                      <img src="/images/vindmylla.png" class="ag-timeline-card_img" width="640" height="360" alt="" />
                    </div>
                    <div class="ag-timeline-card_info">
                      <div class="ag-timeline-card_title">Prótótýpa</div>
                      <div class="ag-timeline-card_desc">
                        Næst á dagskrá er að fullklára Heimabæinn og eitt land í heild sinni.
                        Það felur í sér fimm ævintýri og verður sniðmát fyrir restina af leiknum.
                        Með því að klára þennan fasa verkefnisins verður greinilegt hvernig
                        fullmótuð útgáfa leiksins mun líta út á endanum.
                      </div>
                    </div>
                  </div>
                  <div class="ag-timeline-card_arrow"></div>
                </div>
              </div>

              <div class="js-timeline_item ag-timeline_item">
                <div class="ag-timeline-card_box">
                  <div class="ag-timeline-card_meta-box">
                    <div class="ag-timeline-card_meta">Fyrsta útgáfa</div>
                  </div>
                  <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                    <div class="ag-timeline-card_point">2024</div>
                  </div>
                </div>
                <div class="ag-timeline-card_item">
                  <div class="ag-timeline-card_inner">
                    <div class="ag-timeline-card_img-box">
                      <img src="/images/regnbogi.png" class="ag-timeline-card_img" width="640" height="360" alt="" />
                    </div>
                    <div class="ag-timeline-card_info">
                      <div class="ag-timeline-card_title">Fyrsta útgáfa</div>
                      <div class="ag-timeline-card_desc">
                        Fyrsta útgáfa leiksins mun innihalda 4-5 lönd þar sem hvert land inniheldur 5 spilanleg ævintýri og verður það fullklárað árið 2024.
                      </div>
                    </div>
                  </div>
                  <div class="ag-timeline-card_arrow"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    
    <%- include('partials/footer') %>
    <script src="/javascripts/timalina.js" />
    <script>timalina()</script>
  </body>
</html>
